.all_notes {
  cursor: pointer;
}
.notebook_title {
  text-decoration: underline;
  padding: 1em 0;
  font-size: 22px;
}

.notebook_item {
  cursor: pointer;
}

.notebook_button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: white;
  color: black;
  border-radius: 50%;
}